<% provide(:title, "Status Update") %>

<%= form_for :status, url: statuses_path do |f| %>

<h2>Status Update</h2>

<p>
  New status: 
  <%= f.select :mystatus, options_for_select(['Has passenger(s)', 'Resting', 'Waiting for order']), {}, class: "select1" %>
</p>

<p>
  <br />
  <%= f.submit "Submit", class: "btn btn-primary btn-lg"  %>
</p>

<% end %>
