<div class="container">
  <div class="row">
    <div class="col-md-12 header">
      <h2>My Car Travel 2.0</h2>
       <ul>
         <li><%= link_to('Home', root_path) %></li>
         <li><a href="#">Reservations</a></li>
       </ul>
    </div>
  </div>
</div>